# emacs files
*~

# downloaded packages in node modules
node_modules/

# ignore the .env file
.env

# ignore the current house wallpapers
house-vert.jpg
house-1920.jpg

# ignore images in the converted folder
converted/*.webp

# service account
glass-spades-service-account.json

# ignore the other server file
# created because restarting the browser all the time is increasing dev time
# it is also causing errors
index2.js