# emacs files
*~

# downloaded packages in node modules
node_modules/

# ignore the .env file
.env
cloud-env-file.txt

# ignore the current house wallpapers
house-vert.jpg
house-1920.jpg

# ignore images in the converted folder
converted/*.webp

# service account
glass-spades-service-account.json

# ignore the yarn error log file
yarn-error.log

# ignore the sitemap file
sitemap.xml

# cron.log
cron.log