# emacs files
*~

# downloaded packages in node modules
node_modules/

# ignore the .env file
.env
cloud-env-file.txt

# ignore the current house wallpapers
house-vert.jpg
house-1920.jpg

# ignore all files in converted except x
converted/*
!converted/x

# ignore all files in uploaeded except x
uploaded/*
!uploaded/x

# service account
glass-spades-service-account.json

# ignore the yarn error log file
yarn-error.log

# ignore the sitemap file
sitemap.xml

# cron.log
cron.log

# scripts folder
scripts/

#local host certificates
localhost-certs/

# ignore the .cache created by puppeteer
.cache/

#ignore the static directory
static/