@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

* {
    margin: 0;
}

:root {
    --shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    --error-background-color: #ffb3b3;
    --error-font-color: #ff3333;
    --hover-color: lightgrey;
    --active-color: grey;
    --primary-background-color: #f2f2f2;
    --primary: black;
}

img {
    max-width: 100%;
}

p, label, a, h1, h2, h3, h4, h5, h6, input, textarea, button, select, option, figcaption {
    font-family: "Crimson Text", serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2em;
}

.page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  border-bottom: 1px solid lightgrey;
  grid-column: 1 / 13;
  height: 4em;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: white;
}

header > a {
  grid-column: 1 / 7;
  height: inherit;
  margin-left: 1em;
}

header #menu {
  grid-column: 9 / 13;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
  gap: 5px;
}

#menu a {
  width: 100%;
  border: 1px solid lightgrey;
  font-size: 1em;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#menu a:hover {
  background-color: var(--hover-color);
  color: white;
  box-shadow: var(--shadow);
  border: 0;
}

#menu a:active {
  background: var(--active-color);
  color: white;
}

header img {
  width: 11vw;
  height: auto;
  margin-left: 3vw;
}

.house-card {
  display: grid;
  grid-template-rows: 4vw 27vw 4vw;
  grid-auto-columns: 100%;
  
  border: 1px solid lightgrey;
  margin-left: 2em;
  margin-bottom: 1em;
  width: 40vw;
  color: black;
  overflow: hidden;
}

.house-card .heading {
  grid-row: 1 / 2;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
  padding-left: 1em;
}

.house-card img {
  grid-row: 2 / 3;
}

.house-card #overview-details {
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  background-color: white;
}

img.overview {
  width: 100%;
  height: auto;
}

.house-card .card-details {
  display: flex;
  flex-direction: row;
  border-left: .5px solid lightgrey;
  padding-right: 1em;
  padding-left: 1em;
}

.card-details img {
  margin-right: 1em;
}

.overview-price {
  flex: 3;
  padding-left: 2em;
}

.card-details p {
  color: black;
}

footer {
  grid-column: 1 / 13;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
  margin-top: 2em;
  align-items: center;
  padding-top: 1em;
  background-color: lightgrey;
}

footer > a, footer p {
  margin-bottom: 1em;
  font-size: 1em;
  width: 80vw;
  text-align: center;
}

footer p:first-child {
  font-size: 1.3em;
  margin-bottom: 0;
}

footer img {
  height: 2em;
  object-fit: contain;
}

footer #social-media {
  display: flex;
  margin: 1em;
  width: 10vw;
  justify-content: space-around;
}

#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  border: 1px solid black;
  height: 100%;
  width: 99vw;
  background-color: rgba(0, 0, 0, .3);

  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#loading-page p {
  color: white;
}

.snackbar {
  position: fixed;
  bottom: 10vh;
  left: 35vw;
  z-index: 1;
  width: 30vw;
  height: 10vh;
  background-color: #11e414;
  box-shadow: 0 0 10px lightgrey;
  text-align: center;
  padding: 1em;
  display: block;
}

.error-snackbar {
  position: fixed;
  bottom: 10vh;
  left: 35vw;
  z-index: 1;
  width: 30vw;
  height: 10vh;
  background-color: pink;
  color: red;
  box-shadow: 0 0 10px lightgrey;
  text-align: center;
  padding: 1em;
  display: block;
}

.slide {
  animation: slide;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}

@keyframes slide {
  0% {
    opacity: 0;
      transform: translateY(20vh);
  }

  50% {
    opacity: 1;
      transform: translateY(0);
  }

  100% {
    opacity: 0;
      transform: translateY(20vh);
  }
}

.hide {
  display: none !important;
}

div#listings {
  grid-column: 1 / 13;
  width: 98vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

@media (orientation: portrait) {
  .house-card {
    grid-template-rows: 8vw 30vw 8vw;
  }
  
  .house-card .heading {
    padding-left: 0;
    padding-right: 0;
  }

  .overview-price {
    padding-left: 0;
    text-align: center;
  }

  .house-card .card-details {
    padding-left: .5em;
    padding-right: .5em;
  }

  .card-details img {
    margin-right: .75em;
  }

  .page {
    grid-template-columns: repeat(5, 1fr);
  }
  
  header {
    grid-column: 1 / 6;
    grid-template-columns: repeat(5, 1fr);
  }

  header > a {
    grid-column: 1 / 5;
  }

  header #menu-button {
    grid-column: 5 / 6;
    height: 50%;
    padding: 20%;
  }

  header img {
      height: auto;
      width: 43vw;
      margin-left: 1vw;
  }

  header #menu.phone-menu {
    box-shadow: 0 0 5px lightgrey;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 50vw;
    height: 100vh;
    align-items: center;
  }

  header #menu a {
    width: 90%;
      height: 7%;
    border: 1px solid lightgrey;
    display: flex;
    margin-top: 0.5em;
  }

  .house-card {
    width: 96vw;
    grid-template-rows: 12vh 36vh 10vh;
    margin-bottom: 1em;
    margin-left: 0;
  }
  
  #snackbar {
    bottom: 5vh;
    left: 5vw;
    width: 80vw;
  }

  footer {
      grid-column: 1 / 6;
  }

  footer a, footer p {
    font-size: 1em
  }

  footer img {
    height: 2.4em;
  }
  
  footer #social-media {
    width: 30vw;
  }

  div#listings {
    grid-column: 1 / 6;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}