@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    border-bottom: 1px solid lightgrey;
    grid-column: 1 / 13;
    height: 4em;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header a {
    grid-column: 1 / 7;
    /* border: 1px solid black; */
    height: inherit;
    margin-left: 1em;
}

header img {
    height: 90%;
}

#lead-card {
    grid-column: 4 / 10;
    border: 1px ridge lightgrey;
    margin: 2em;
    padding: 1em;
}

footer {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin-top: 2em;
    align-items: center;
    padding-top: 1em;
}

footer a, footer p {
    margin-bottom: 1em;
    font-size: 0.7em;
}

@media(max-width: 500px) {
    .page {
	grid-template-columns: repeat(5, 1fr);
    }
    
    header {
	grid-column: 1 / 6;
	grid-template-columns: repeat(5, 1fr);
    }

    #lead-card {
	grid-column: 1 / 6;
    }
}
