@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");

* {
    margin: 0;
}

img {
    max-width: 100%;
}

p, label, a, h1, h2, h3, input, textarea, button {
    font-family: "Crimson Text", serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    border-bottom: 1px solid lightgrey;
    grid-column: 1 / 13;
    height: 4em;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header > a {
    grid-column: 1 / 7;
    height: inherit;
    margin-left: 1em;
}

header #menu {
    grid-column: 9 / 13;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
 }

header #menu a {
    width: 100%;
}

header #menu button {
    font-size: .8em;
    width: 80%;
    height: 2.3em;
    border: 1px solid lightgrey;
    background-color: white;
}

header #menu button:hover {
    background-color: lightgrey;
    color: white;
    box-shadow: 0 0 5px lightgrey;
    border: 0;
}

header #menu button:active {
    background: black;
    color: white;
}

header img {
    height: 90%;
}

picture {
    grid-column: 1 / 13;
}

h3 {
    grid-column: 1 / 13;
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-top: 1em;
}

div#offer-container {
    grid-column: 1 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.offer {
    display: none;
    font-size: 1.7em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid lightgrey;
    border-top:1px solid lightgrey;
}

.offer-animation {
    display: flex;
    animation: offer-slide;
    animation-timing-function: ease-in-out;
    animation-duration: 8s;
}

@keyframes offer-slide {
    0% {
	opacity: 0;
    }

    50% {
	opacity: 1;
    }

    100% {
	opacity: 0;
    }
}

div#listings {
    grid-column: 1 / 13;
    width: 95vw;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.house-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    border: 1px solid lightgrey;
    margin-left: 2em;
    margin-bottom: 1em;
    width: 40vw;
}

.house-card .heading {
    grid-column: 1 / 5;
    color: black;
    text-align: center;
    height: 3em;
    display: flex;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
}

.house-card img {
    grid-column: 1 / 5;
}

.house-card .card-details {
    display: flex;
    flex-direction: row;
    border-left: .5px solid lightgrey;
    padding: 0.5em;
}

.house-card div:nth-of-type(1) {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.house-card div:nth-of-type(1) p {
    color: black;
}

.house-card div:nth-of-type(2) {
    grid-column: 3 / 4;
}

.house-card div:last-child {
    grid-column: 4 / 5;
}

.card-details img {
    margin-right: 1em;
    margin-left: 1em;
}

.card-details p {
    color: black;
}

footer {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin-top: 2em;
    align-items: center;
    padding-top: 1em;
}

footer a, footer p {
    margin-bottom: 1em;
    font-size: 0.7em;
}

#loading-page {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    border: 1px solid black;
    height: 100%;
    width: 99vw;
    opacity: 0.3;

    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loading-page p {
    color: white;
}

.snackbar {
    position: fixed;
    bottom: 10vh;
    left: 35vw;
    z-index: 1;
    width: 30vw;
    height: 10vh;
    background: white;
    box-shadow: 0 0 10px lightgrey;
    text-align: center;
    padding: 1em;
    display: none;
}

.slide {
    animation: slide;
    animation-duration: 10s;
    animation-timing-function: ease-out;
}

@keyframes slide {
    0% {
	bottom: 0;
	opacity: 0 
    }

    50% {
	bottom: 20vh;
	opacity: 1;
    }

    100% {
	bottom: 0;
	opacity: 0;
    }
}

@media (orientation: portrait) {
    .house-card .heading {
	padding-left: 0;
	padding-right: 0;
    }

    .house-card div:nth-of-type(1) p {
	font-size: 1em;
    }

    .card-details img {
	margin-right: 0;
	margin-left: 0;
	width: 1.5em;
    }

    .card-details p {
	margin-left: 0.5em;
    }
}

@media (max-width: 500px) {
    .page {
	grid-template-columns: repeat(5, 1fr);
    }
    
    header {
	grid-column: 1 / 6;
	grid-template-columns: repeat(5, 1fr);
    }

    header > a {
	grid-column: 1 / 5;
    }

    header #menu-button {
	grid-column: 5 / 6;
	height: 50%;
	padding: 20%;
    }

    header #menu.phone-menu {
	box-shadow: 0 0 5px lightgrey;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
	width: 50vw;
	height: 100vh;
	align-items: center;
    }

    .offer {
	font-size: 1.5em;
	margin-left: 1em;
	margin-right: 1em;
    }

    header #menu a {
	width: 90%;
	border: 1px solid lightgrey;
	display: flex;
	margin-top: 0.5em;
    }

    header #menu a:active {
	background: black;
	color: white;
    }

    header #menu button {
	border: none;
	width: 100%;
    }

    div#listings {
	grid-column: 1 / 6;
	flex-direction: column;
	align-items: center;
	width: 100vw;
    }

    .house-card {
	width: 99vw;
	margin-bottom: 1em;
	margin-left: 0;
    }
    
    #snackbar {
	bottom: 5vh;
	left: 5vw;
	width: 80vw;
    }


}

