@import url("home.css");

div#images {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

div#images img {
    width: 100%;
}

div#images > img:nth-of-type(1) {
    grid-column: 3 / 11;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#images > img:nth-of-type(2) {
    grid-column: 4 / 7;
}

div#images > img:nth-of-type(3) {
    grid-column: 7 / 10;
}

div#images div:nth-of-type(1) {
    grid-column: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#images div:nth-of-type(2) {
    grid-column: 10 / 11;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#images img.arrow {
    width: 2em;
}

h2#heading {
    grid-column: 5 / 9;
    margin-top: 1em;
    text-align: center;
    font-weight: 100;
}

p.description {
    grid-column: 3 / 11;
    margin-top: .5em;
}

h3.subheading {
    font-size: 1.1em;
    margin-top: 0;
    border-right: 1px solid lightgrey;
    padding-right: 2em;
    flex: 1;
}

p.content {
    flex: 3;
    padding-left: 2em;
}

section {
    grid-column: 3 / 11;
    margin-top: 1em;
    padding: 1em;

    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
}

@media(orientation: portrait) {
    div#images img:nth-of-type(1) {
	grid-column: 2 / 12;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	grid-column: 2 / 4;
    }

    div#images div:nth-of-type(2) {
	grid-column: 10 / 12;
    }

    h2#heading {
	grid-column: 3 / 11;
    }
}


@media(max-width: 500px) {
    div#images {
	grid-column: 1 / 6;

    }

    div#images img:nth-of-type(1) {
	grid-column: 1 / 13;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	grid-column: 1 / 4;
    }

    div#images div:nth-of-type(2) {
	grid-column: 10 / 13;
    }

    div#images img.arrow {
	width: 1.5em;
    }

    h2#heading {
	grid-column: 1 / 6;
	margin-left: .5em;
	margin-right: .5em;
    }

    p.description {
	grid-column: 1 / 6;
	margin-top: .8em;
	margin-left: .3em;
	margin-right: .3em;
    }

    section {
	grid-column: 1 / 6;
	margin-left: 1em;
	margin-right: 1em;
    }

    h3.subheading {
	flex: 1;
	padding-right: 0;
	text-align: center;
    }

    p.content {
	flex: 2;
	padding-left: 0;
	text-align: center;
    }
}
