@import url("home.css");

div#images {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#images.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100vw;
    height: 100vh;
}

div#images img {
    width: 100%;
}

div#images > img:nth-of-type(1) {
    grid-column: 3 / 11;
    margin-top: 1em;
    margin-bottom: 1em;
    height: 80vh;
    width: auto;
    justify-self: center;
    overflow: hidden;
}

#images.overlay > img:nth-of-type(1) {
    height: 90vh;
    width: auto;
    justify-self: center;
}

div#images > img:nth-of-type(2) {
    grid-column: 4 / 7;
    height: 30vh;
}

div#images > img:nth-of-type(3) {
    grid-column: 7 / 10;
    height: 30vh;
}

div#images div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    left: 0;
    width: 20em;
    height: 30em;
    padding-left: 1em;
}

div#images div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30vh;
    right: 0;
    width: 20em;
    height: 30em;
    padding-right: 1em;
}

#images.overlay div:nth-of-type(1), #images.overlay div:nth-of-type(2) {
    top: 10vh;
}

#images.overlay div:nth-of-type(1):active,
#images.overlay div:nth-of-type(2):active {
    box-shadow: 0 0 5px white;
}

div#images img.arrow {
    width: 2em;
}


h1#heading {
    grid-column: 5 / 9;
    margin-top: 1em;
    text-align: center;
    font-size: 1.8em;
}

#close-icon {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 2em;
}

p.description {
    grid-column: 3 / 11;
    margin-top: .5em;
}

h3.subheading {
    font-size: 1.1em;
    margin-top: 0;
    flex: 1;
}

p.content {
    flex: 1.5;
    border-left: 1px solid lightgrey;
    text-align: left;
}

section > p.content {
    padding-left: 1em;
}


section .features {
    flex: 1.5;
    padding-left: 1em;
    border-left: 1px solid lightgrey;
}

section .features p {
    margin-bottom: 1em;
    border-left: none;
}

section .features p:last-child {
    margin-bottom: 0;
}

section {
    grid-column: 3 / 11;
    margin-top: 1em;
    padding: 1em;

    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
}

#whatsapp {
    height: 3.5em;
    width: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25D366;
    position: fixed;
    bottom: 1em;
    right: 1em;
    border-radius: 50%;
}

#whatsapp:hover, #close-icon:hover {
    box-shadow: 0px 0px 5px lightgrey;
}

#whatsapp img {
    height: 3em;
}

form {
    grid-column: 4 / 10;
    border: 2px ridge lightgrey;
    margin-top: 1em;
    padding: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form p {
    text-align: center;
    margin-bottom: 1em;
}

form a {
    font-size: 1em;
    text-decoration: black;
    text-decoration-line: underline;
}

form a:hover {
    color: grey;
}

form input {
    width: 70%;
    margin-bottom: .75em;
    height: 2em;
}

form label {
    display: block;
    align-self: flex-start;
    padding-left: inherit;
}

form input[type="submit"] {
    margin-top: 1em;
    background: black;
    color: white;
    height: 3em;
}

@media(orientation: portrait) {
    div#images img:nth-of-type(1) {
	grid-column: 2 / 12;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	top: 15vh;
	left: 0;
	width: 20vw;
	height: 80vh;
	border: 1px solid red;
    }

    div#images div:nth-of-type(2) {
	top: 15vh;
	right: 0;
	width: 20vw;
	height: 80vh;
	border: 1px solid red;
    }

    h2#heading {
	grid-column: 3 / 11;
    }

    form p {
	text-align: left;
    }

    form input {
	width: 90%;
    }
}


@media(max-width: 500px) {
    div#images {
	grid-column: 1 / 6;
    }

    div#images img:nth-of-type(1) {
	grid-column: 1 / 13;
	height: auto;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	/* grid-column: 1 / 4; */
	border: 1px solid red;
	top: 20vh;
	left: 0;
	width: 20vw;
	height: 80vh;
    }

    div#images div:nth-of-type(2) {
	/* grid-column: 10 / 13; */
	border: 1px solid red;
	top: 20vh;
	right: 0;
	width: 20vw;
	height: 80vh;
	border: 1px solid red;
    }

    div#images img.arrow {
	width: 1.5em;
    }

    h1#heading {
	grid-column: 1 / 6;
	margin-left: .5em;
	margin-right: .5em;
    }

    p.description {
	grid-column: 1 / 6;
	margin-top: .8em;
	margin-left: .3em;
	margin-right: .3em;
    }

    section {
	grid-column: 1 / 6;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 0;
    }

    h3.subheading {
	flex: 1;
    }

    p.content {
	padding-left: 0;
	flex: 1.5;
    }

    #whatsapp {
	height: 3em;
	width: 3em;
    }

    #whatsapp img {
	height: 2em;
    }
    
    form {
	grid-column: 1 / 6;
	margin: 1em;
    }

    form input {
	height: 2em;
	width: 100%;
	margin-bottom: .5em;
    }
}
