@import url('base.css');

h1 {
    grid-column: 1 / 13;
    margin-top: 1em;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.5em;
}

p {
    grid-column: 4 / 10;
    margin-bottom: 1em;
}

a {
    text-decoration: underline;
    font-size: 1em;
}

#button-container {
    grid-column: 4 / 10;
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

#button-container a {
    border: 1px solid grey;
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}

#button-container a:hover,
#button-container a:active {
    background-color: lightgrey;
}

@media (orientation: portrait) {
    h1 {
        grid-column: 1 / 7;
    }

    p {
        grid-column: 1 / 7;
        margin-right: 1em;
        margin-left: 1em;
    }

    #button-container {
        grid-column: 1 / 7;
        flex-direction: column;
        margin-right: 1em;
        margin-left: 1em;
        gap: 3vh;
        align-items: center;
    }

    #button-container a {
        width: 90%;
    }
}