@import url("home.css");

div#images {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

div#images img {
    width: 100%;
}

div#images > img:nth-of-type(1) {
    grid-column: 3 / 11;
    margin-top: 1em;
    margin-bottom: 1em;
}

div#images > img:nth-of-type(2) {
    grid-column: 4 / 7;
}

div#images > img:nth-of-type(3) {
    grid-column: 7 / 10;
}

div#images div:nth-of-type(1) {
    grid-column: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 10em;
    height: 30em;
    padding-left: 1em;
}

div#images div:nth-of-type(2) {
    grid-column: 10 / 11;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 10em;
    height: 30em;
    padding-right: 1em;
}

div#images img.arrow {
    width: 2em;
}

h2#heading {
    grid-column: 5 / 9;
    margin-top: 1em;
    text-align: center;
    font-weight: 100;
}

p.description {
    grid-column: 3 / 11;
    margin-top: .5em;
}

h3.subheading {
    font-size: 1.1em;
    margin-top: 0;
    flex: 1;
}

p.content {
    flex: 1.5;
    border-left: 1px solid lightgrey;
    text-align: left;
}

section > p.content {
    padding-left: 1em;
}


section .features {
    flex: 1.5;
    padding-left: 1em;
    border-left: 1px solid lightgrey;
}

section .features p {
    margin-bottom: 1em;
    border-left: none;
}

section .features p:last-child {
    margin-bottom: 0;
}

section {
    grid-column: 3 / 11;
    margin-top: 1em;
    padding: 1em;

    display: flex;
    flex-direction: row;
    border: 1px solid lightgrey;
}

form {
    grid-column: 4 / 10;
    border: 2px ridge lightgrey;
    margin-top: 2em;
    padding: 2em;
}

form p {
    text-align: center;
    margin-bottom: 1em;
}

form a {
    font-size: 1em;
    text-decoration: black;
    text-decoration-line: underline;
}

form a:hover {
    color: grey;
}

@media(orientation: portrait) {
    div#images img:nth-of-type(1) {
	grid-column: 2 / 12;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	grid-column: 2 / 4;
	position: relative;
	top: 0;
	right: 0;
	width: inherit;
	height: inherit;
    }

    div#images div:nth-of-type(2) {
	grid-column: 10 / 12;
	position: relative;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
    }

    h2#heading {
	grid-column: 3 / 11;
    }

    form p {
	text-align: left;
    }
}


@media(max-width: 500px) {
    div#images {
	grid-column: 1 / 6;

    }

    div#images img:nth-of-type(1) {
	grid-column: 1 / 13;
    }

    div#images img:nth-of-type(2) {
	grid-column: 4 / 7;
    }

    div#images img:nth-of-type(3) {
	grid-column: 7 / 10;
    }

    div#images div:nth-of-type(1) {
	grid-column: 1 / 4;
    }

    div#images div:nth-of-type(2) {
	grid-column: 10 / 13;
    }

    div#images img.arrow {
	width: 1.5em;
    }

    h2#heading {
	grid-column: 1 / 6;
	margin-left: .5em;
	margin-right: .5em;
    }

    p.description {
	grid-column: 1 / 6;
	margin-top: .8em;
	margin-left: .3em;
	margin-right: .3em;
    }

    section {
	grid-column: 1 / 6;
	margin-left: 1em;
	margin-right: 1em;
	padding-left: 0;
    }

    h3.subheading {
	flex: 1;
    }

    p.content {
	padding-left: 0;
	flex: 1.5;
    }

    form {
	grid-column: 1 / 6;
	margin: 1em;
	margin-top: 2em;
    }

    form input {
	height: 2em;
    }
}
