@import url("home.css");

h2 {
    grid-column: 1 / 13;
    text-align: center;
    font-size: 2em;
    margin-top: 1em;
}

h3 {
    grid-column: 1 / 13;
    display: none;
}

#filter {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 3em;
    border-radius: 50%;
    background-color: grey;
}

#filter:hover {
    box-shadow: 3px 3px 5px lightgrey;
    border-radius: 50%;
}

#filter:active {
    background-color: lightgrey;
}

@media (max-width: 500px) {
    h2 {
	grid-column: 1 / 6;
    }

    h3 {
	grid-column: 1 / 6;
    }

    #filter {
	bottom: 1em;
	right: 1em;
    }
}
