@import url("rentals.css");

#shortcuts-card {
    grid-column: 3 / 11;
    border: 1px solid lightgrey;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: center;
    padding: .6em;
}

#shortcuts-card a {
    background-color: lightgrey;
    color: black;
    padding: .2em;
    border-radius: 5%;
    flex: 30%;
    flex-grow: unset;
    text-align: center;
}

#shortcuts-card button {
    display: flex;
    align-items: center;
}

@media(max-width: 500px) {

    #shortcuts-card {
	grid-column: 1 / 6;
	margin: .3em;
    }

    #shortcuts-card a {
	flex: 45%;
    }

    #shortcuts-card button {
	margin-top: .3em;
    }
}
