@import url('home.css');

h1 {
  grid-column: 1 / 13;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

#cloud-upload-icon {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  height: 2.5em;
  padding: .3em;
  z-index: 1;
}

#delete-icon {
  position: fixed;
  height: 2.5em;
  right: 3vw;
  bottom: calc(5vh + 2.5em + 1em);
  padding: .3em;
  z-index: 1;
}

#cloud-upload-icon:hover,
#delete-icon:hover {
  box-shadow: 0px 0px 5px black;
}

#cloud-upload-icon:active,
#delete-icon:active {
  background-color: lightgrey;
}

#image-upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-images-form {
  background-color: white;
  height: 95vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-images-form h2 {
  font-size: 2em;
  text-align: center;
  margin-top: .5em;
}

#upload-button {
  margin-top: .5em;
  width: 90%;
}

#upload-images-form input[type="file"] {
  display: none;
}

#image-preview-container {
  width: 90%;
  height: 70vh;
  border: 2px dotted lightgrey;
  margin-top: 1em;
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 10px;
  overflow: scroll;
}

#close-upload-modal {
  height: 2em;
  position: fixed;
  top: 1em;
  right: 1em;

}

#close-upload-modal:hover {
  background-color: lightgrey;
}

#close-upload-modal:active {
  background-color: black;
}

.preview {
  width: 27%;
  margin-bottom: 2em;
  position: relative;
}

.remove-preview {
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: -9px;
}

#submit-images {
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: black;
  color: white;
}

#image-upload-error {
  background-color: pink;
  color: red;
}

#uploaded-images {
  grid-column: 1 / 13;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  height: max-content;
}

.uploaded-image {
  width: 27%;
  position: relative;
  margin-bottom: 1em;
}

.delete-uploaded-image {
  height: 1.3em;
  position: absolute;
  top: -9px;
  right: -9px;
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 3px;
}

.delete-uploaded-image:hover {
  background-color: grey;
}

.delete-uploaded-image:active {
  box-shadow: 0 0 5px 5px lightgray;
}

.link-button {
  width: 100%;
}

.link-button:hover {
  background-color: lightgrey;
}

.selected-for-deletion {
  border: 3px double red;
}

@media (orientation: portrait) {
  h1 {
    grid-column: 1 / 6;
  }

  #upload-images-form {
    margin-top: 4.5em;
    width: 90vw;
  }

  #image-preview-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .preview {
    width: 90%;
  }

  #uploaded-images {
    grid-column: 1 / 6;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  .uploaded-image {
    width: 90%;
    margin-bottom: 2em;
  }
}