@import url('home.css');

h1 {
  grid-column: 1 / 13;
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

#cloud-upload-icon {
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  height: 2.5em;
  padding: .3em;
}

#delete-icon {
  position: fixed;
  height: 2.5em;
  right: 3vw;
  bottom: calc(5vh + 2.5em + 1em);
  padding: .3em;
}

#cloud-upload-icon:hover,
#delete-icon:hover {
  box-shadow: 0px 0px 5px black;
}

#cloud-upload-icon:active,
#delete-icon:active {
  background-color: lightgrey;
}

#image-upload-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#upload-images-form {
  background-color: white;
  height: 95vh;
  width: 70vw;
}

#upload-images-form h2 {
  font-size: 2em;
  text-align: center;
  margin-top: .5em;
}

#close-upload-modal {
  height: 2em;
  position: fixed;
  top: 1em;
  right: 1em;

}

#close-upload-modal:hover {
  background-color: lightgrey;
}

#close-upload-modal:active {
  background-color: black;
}

@media (orientation: portrait) {
  h1 {
    grid-column: 1 / 6;
  }

  #upload-images-form {
    margin-top: 4.5em;
    width: 90vw;
  }

}