@import url("../home.css");

div#listings {
    justify-content: space-around;
}

.house-card {
    width: 27vw;
    margin-left: 0;
}

.house-card p {
    grid-column: 1 / 5;
    padding: .7em;
    color: black;
}

.listing-container {
}

.button-section {
    display: flex;
    justify-content: flex-start;
}

.button-section button {
    height: 3em;
    width: 30%;
    background-color: white;
    border: 1px solid grey;
}

@media (max-width: 500px) {
    .house-card {
	width: 99vw;
    }
}
