@import url("../home.css");

div#listings {
    justify-content: space-around;
}

/* .house-details-card {
    width: 27vw;
    margin-left: 0;
} */

.listing-container {
    width: 27vw;
}

.house-details-card {
    border: 1px solid lightgrey;
}

/* .house-card p {
    grid-column: 1 / 5;
    padding: .7em;
    color: black;
} */

.button-section {
    display: flex;
    justify-content: flex-start;
}

.button-section button {
    height: 3em;
    width: 30%;
    background-color: white;
    border: 1px solid grey;
}

.button-section .clicked {
    background-color: lightgrey;
    color: black;
}

.save {
    height: 3em;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.save:active {
    background-color: white;
    color: black;
}

#show-archived {
    background-color: white;
    color: black;
    grid-column: 9 / 13;
}

#show-archived.clicked {
    background-color: black;
    color: white;
}

#save-icon {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 3em;
    border-radius: 10%;
    display: none;
}

#save-icon:hover {
    box-shadow: 3px 3px 5px lightgrey;
}

#save-icon:active {
    background-color: lightgrey;
}

@media (max-width: 500px) {
    /* .house-card {
	width: 99vw;
    } */
    .listing-container {
        width: 99vw;
    }

    #save-featured, #save-archived, #show-archived {
	margin-top: 0.5em;
	grid-column: 1 / 6;
    }
    
    #save-icon {
	bottom: 1em;
	right: 1em;
    }
}
