@import url("../base.css");

h2 {
    grid-column: 1 / 13;
    display: block;
    text-align: center;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.container {
    grid-column: 3 / 11;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid lightgrey;
    padding: 1em;
    margin-bottom: 1em;
}

.label {
    grid-column: 1 / 4;
    font-size: 1.3em;
    margin-bottom: 0.4em;
}

select {
    font-size: 1em;
    width: 100%;
    margin-top: 0.4em;
}

option {
    font-size: .9em;
}

label input {
    width: 100%;
    margin-top: 0.4em;
    font-size: 1em;
}

button {
    height: 2em;
    background-color: white;
    margin-bottom: 0.75em;
}

.clicked-button {
    background-color: black;
    color: white;
}

input[name="Heading"], input[name="Development"] {
    grid-column: 1 / 4;
}

textarea {
    grid-column: 1 / 4;
}

button#file-upload, button#portrait-upload {
    grid-column: 2 / 12;
    width: 100%;
    height: 10vh;
    color: black;
    background-color: #e6e6e6;
}

input#invisible-file-upload, input#invisible-portrait-upload {
    display: none;
}

div#drop-zone, div#portrait-drop-zone {
    grid-column: 2 / 12;
    width: 100%;
    height: 100vh;
    border: 3px dashed lightgrey;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

p.info {
    grid-column: 2 / 12;
    font-size: 0.9em;
}

.images {
    width: 30%;
    height: max-content;
    margin-left: 1em;
    margin-top: 1em;
}

.images.clicked {
    border: 2px solid #f108aa;
}

div#map {
    grid-column: 2 / 12;
    height: 75vh;
    border: 1px solid lightgrey;
    margin-bottom: 2em;
    margin-top: 2em;
}

#search-input {
    font-size: 1.5em;
    height: 1.5em;
    width: 25%;
    margin-top: 1em;
}

button#portrait-upload {
    margin-top: 2em;
}

button#submit {
    grid-column: 2 / 12;
    width: 100%;
    height: 2em;
    margin-top: 2em;
    background-color: black;
    color: white;
    font-size: 1.4em;
}

p#empty-error {
    color: red;
    background-color: pink;
    grid-column: 2 / 12;
    margin-bottom: 1em;
    display: none;
}

#delete-icon {
    position: fixed;
    bottom: 5vh;
    right: 0;
    display: none;
}

@media (orientation: portrait) {
    .container {
	grid-column: 2 / 12;
    }

    button {
	width: 15em;
    }

    button#file-upload, button#portrait-upload {
	grid-column: 2 / 12;
	width: 100%;
    }
}

@media (max-width: 500px) {
    h2 {
	grid-column: 1 / 6;
    }

    .container {
	grid-column: 1 / 6;

	grid-template-columns: repeat(2, 1fr)
    }

    .container p.label {
	grid-column: 1 / 3;
    }

    button {
	width: 100%;
	height: 3.3em;
    }

    input[name="Heading"] {
	height: 2.5em;
    }

    button#file-upload, button#portrait-upload {
	grid-column: 1 / 6;
	width: 100%;
    }

    div#drop-zone, div#portrait-drop-zone {
	grid-column: 1 / 6;
	width: 98%;
    }

    p.info {
	grid-column: 1 / 6;
	font-size: 0.6em;
    }

    .images {
	width: 45%;
    }

    button#submit {
	grid-column: 1 / 6;
	font-size: 1.15em;
	height: 3em;
    }

    div#map {
	grid-column: 1 / 6;
	height: 75vh;
    }

    p#empty-error {
	grid-column: 1 / 6;
    }

    #search-input {
	width: 50%;
    }
}
